.pera{
    font-size: 2em;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

   
}
.img{
    border-radius: 60px;
}
.a{
    outline: n;
}
body{
   background-color:rgba(red, green, blue, alpha);

}